TOKEN=
CLIENT_ID=

# Development guild to register commands to while in development
DEV_GUILD_ID=
# Development channel for logs to be sent to
DEV_CHANNEL_LOG_ID=
# Development channel for errors to be sent to
DEV_CHANNEL_ERROR_ID=
